In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/digit-recognizer/train.csv
/kaggle/input/digit-recognizer/test.csv
/kaggle/input/digit-recognizer/sample_submission.csv

In [2]:
train_data = pd.read_csv('/kaggle/input/digit-recognizer/train.csv')
test_data = pd.read_csv('/kaggle/input/digit-recognizer/test.csv')

In [3]:
train_data.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
test_data.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
train_data.shape

(42000, 785)

In [6]:
test_data.shape

(28000, 784)

In [7]:
train_data.isnull().sum()

label       0
pixel0      0
pixel1      0
pixel2      0
pixel3      0
           ..
pixel779    0
pixel780    0
pixel781    0
pixel782    0
pixel783    0
Length: 785, dtype: int64

In [8]:
test_data.isnull().any().sum()

0

In [9]:
train_data['label'].value_counts().sort_values(ascending=True)

5    3795
8    4063
4    4072
0    4132
6    4137
2    4177
9    4188
3    4351
7    4401
1    4684
Name: label, dtype: int64

In [10]:
labeled_data = train_data['label']

In [11]:
train_data.drop('label', inplace=True, axis=1)
train_data.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
X_train, X_test, y_train, y_test = train_test_split(train_data, labeled_data, test_size=0.2, random_state=2)

In [13]:
X_train.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
21250,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20334,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29647,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3220,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5293,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
y_train.head()

21250    2
20334    3
29647    2
3220     9
5293     0
Name: label, dtype: int64

In [15]:
X_test.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
38732,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3686,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30090,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31205,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11331,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
y_test.head()

38732    6
3686     9
30090    5
31205    7
11331    9
Name: label, dtype: int64

In [17]:
rfc  = RandomForestClassifier(n_estimators = 300, n_jobs=-1)

In [18]:
rfc.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=300,
                       n_jobs=-1, oob_score=False, random_state=None, verbose=0,
                       warm_start=False)

In [19]:
rfc_pred = rfc.predict(X_test)

In [20]:
confusion_matrix = confusion_matrix(y_test, rfc_pred)
confusion_matrix

array([[811,   0,   1,   0,   1,   0,   2,   0,   4,   2],
       [  0, 946,   4,   6,   0,   0,   0,   3,   3,   0],
       [  1,   1, 796,   5,   6,   1,   4,   9,   5,   1],
       [  0,   3,  10, 814,   0,  11,   3,   5,  12,   6],
       [  1,   0,   1,   0, 832,   0,   7,   0,   1,  14],
       [  3,   0,   2,  11,   1, 694,   2,   1,   8,   7],
       [  8,   1,   0,   0,   1,   5, 821,   0,   3,   0],
       [  1,   3,  14,   0,   5,   0,   0, 840,   2,   8],
       [  2,   2,   7,   4,   2,   6,   2,   0, 759,   9],
       [  4,   3,   4,  11,  16,   3,   0,  13,   4, 776]])

In [21]:
accuracy_score(y_test, rfc_pred)

0.9629761904761904

In [22]:
classification_report = classification_report(y_test, rfc_pred)
print(classification_report)

              precision    recall  f1-score   support

           0       0.98      0.99      0.98       821
           1       0.99      0.98      0.98       962
           2       0.95      0.96      0.95       829
           3       0.96      0.94      0.95       864
           4       0.96      0.97      0.97       856
           5       0.96      0.95      0.96       729
           6       0.98      0.98      0.98       839
           7       0.96      0.96      0.96       873
           8       0.95      0.96      0.95       793
           9       0.94      0.93      0.94       834

    accuracy                           0.96      8400
   macro avg       0.96      0.96      0.96      8400
weighted avg       0.96      0.96      0.96      8400

In [23]:
submissions=pd.DataFrame({"ImageId": list(range(1,len(rfc_pred)+1)),
                         "Label": rfc_pred})
submissions.to_csv("submission.csv", index=False, header=True)